saxp/resource/webxml/Filter.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.asushenya.org/filter"
		xmlns:tns="http://www.asushenya.org/filter"
		
		xmlns:ip="http://www.asushenya.org/initParam">
		
		<import schemaLocation="InitParam.xsd" namespace="http://www.asushenya.org/initParam"/>

			<complexType name="Filter">
		<sequence minOccurs="0" maxOccurs="unbounded">
				<element name="filter-name"  type="string"/>
				<element name="filter-class" type="string"/>
				<element name="init-param"   type="ip:InitParam" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>