saxp/resource/webxml/InitParam.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.asushenya.org/initParam"
		xmlns:tns="http://www.asushenya.org/initParam">

		<complexType name="InitParam">
		<sequence minOccurs="0" maxOccurs="2">
			<element name="param-name"  type="string"/>
			<element name="param-value" type="string"/>
		</sequence>
	</complexType>
</schema>